<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-3">

                <h1>Update Rating</h1>
                <form th:action="@{/poseidon/rating/updateRating}" th:object="${ratingDto}" th:method="put">
                    <div class="form-group">
                        <label class="control-label" for="moodysRating">Moodys rating</label>
                        <input id="moodysRating" class="form-control" type="text"
                               th:value="${ratingToUpdate.moodysRating}"
                               name="moodysRating" required/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="sandPRating">SandP rating</label>
                        <input id="sandPRating" class="form-control" type="text"
                               th:value="${ratingToUpdate.sandPRating}"
                               name="sandPRating" required/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="fitchRating">Fitch rating</label>
                        <input id="fitchRating" class="form-control" type="text"
                               th:value="${ratingToUpdate.fitchRating}"
                               name="fitchRating" required/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="orderNumber">Order number</label>
                        <input id="orderNumber" class="form-control" type="number"
                               th:value="${ratingToUpdate.orderNumber}"
                               name="orderNumber" required/>
                    </div>
                    <div class="form-group">
                        <div class="row justify-content-center">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="hidden" name="id" th:value="${ratingToUpdate.id}"/>
                                <button type="submit" class="form-control btn btn-primary">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
