<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="justify-content-center text-center mt-5">
            <img src="../static/img/logoP7.png" th:src="@{/img/logoP7.png}"/>
            <h1>Access Denied Exception</h1>
            <h3 class="error" th:text="${errorMsg}">Error</h3>
        </div>
    </div>
</body>
</html>   
