<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RegistrationForm</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-3">

                <!-- success message -->
                <div th:if="${param.success}">
                    <div class="alert alert-info">You've successfully registered
                        to our awesome app!
                    </div>
                </div>

                <!-- error message -->
                <div th:if="${param.error}">
                    <div class="alert alert-danger">User already exists !</div>
                </div>

                <h1>Registration</h1>

                <form th:action="@{/poseidon/register}" method="post" th:object="${user}">
                    <div class="form-group">
                        <label class="control-label" for="fullname">Full Name</label>
                        <input id="fullname" class="form-control" placeholder="Enter Full Name ex : Jean Tur"
                               th:field="*{fullname}" required autofocus="autofocus"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="username"> Username </label> <input
                            id="username" class="form-control" placeholder="Enter Username"
                            th:field="*{username}" required autofocus="autofocus"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="password"> Password </label> <input
                            id="password" class="form-control" type="password" placeholder="Enter Password"
                            th:field="*{password}" required autofocus="autofocus"/>
                    </div>

                    <div class="form-group">
                        <div class="row justify-content-center">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button type="submit" class="form-control btn btn-primary">
                                    Register
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-group" align="center">
                    <span>Already registered? <a href="/" th:href="@{/poseidon/login}">Login here</a></span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
