<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-3">

                <div class="row">
                    <h1 class="col-10">Login</h1>
                    <div class="col-2 text-right">
                        <button type="button" class="close " aria-label="Close">
                            <a href="/poseidon/" class="text-decoration-none">
                                <span class="text-right justify-content-end" aria-hidden="true">&times;</span>
                            </a>
                        </button>

                    </div>
                </div>

                <form th:action="@{/poseidon/login}" method="post">

                    <!-- error message -->
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Invalid username or
                            password.
                        </div>
                    </div>

                    <!-- logout message -->
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">You have been logged out.</div>
                    </div>

                    <div class="form-group">
                        <label for="username"> Username </label> :
                        <input type="text" class="form-control" id="username" name="username" required
                               placeholder="Enter Email ID" autofocus="autofocus">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>:
                        <input type="password" id="password" name="password" class="form-control" required
                               placeholder="Enter Password"/>
                    </div>

                    <div class="form-group text-center">
                        <div class="row justify-content-center">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit" name="login-submit" id="login-submit"
                                       class="form-control btn btn-primary" value="Log In"/>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-group" align="center">
						<span>New user? <a href="/poseidon/register" th:href="@{/poseidon/register}">Register
								here</a></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
